.Target{
    background-color: beige;
    width: 700px;
    height:1000px;
    display: flex;

    flex-direction: column;
    align-items: center;
}
.Contenedor{
    display: flex;
    justify-content: center; 
}
.Font{
    font-size:80px;
    color: #E7D8D9;
    font-weight: 1;
    margin-top: 30px;
}
.todo-input {
    width: 450px;       
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

